<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tria.mapper.IngredientMatchMapper">
  <resultMap id="BaseResultMap" type="com.tria.entity.IngredientMatch">
    <!--@mbg.generated-->
    <!--@Table t_ingredient_match-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ingredient_id" jdbcType="BIGINT" property="ingredientId" />
    <result column="related_ingredient_id" jdbcType="BIGINT" property="relatedIngredientId" />
    <result column="match_type" jdbcType="TINYINT" property="matchType" />
    <result column="match_desc" jdbcType="VARCHAR" property="matchDesc" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, ingredient_id, related_ingredient_id, match_type, match_desc, sort, create_time
  </sql>
</mapper>