<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tria.mapper.NutrientDictMapper">
  <resultMap id="BaseResultMap" type="com.tria.entity.NutrientDict">
    <!--@mbg.generated-->
    <!--@Table t_nutrient_dict-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nutrient_key" jdbcType="VARCHAR" property="nutrientKey" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, nutrient_key, `label`, unit, icon, sort
  </sql>
</mapper>